.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputdiv{
  border: 1px solid black;
  width: 30%;
  display: flex;
  justify-content: space-between;
  padding:0 10px;
  align-items: center;
  margin-top: 10px !important;
  margin: auto;
  cursor: pointer;

}
h3{
  text-align: center;
  margin-right: 20px;
}
input{
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5%;

}
